<!doctype html>
<html lang="en">
{{>head}}
<body >
<div class="main__wrapper">
  {{>header}}
  {{>main}}
  {{>footer}}
</div>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="./js/buttons/Search/SearchBtnHandle.js"></script>
<script src="./js/main.js"></script>
<script src="./js/LoadInfo/LoadInfoServer.js"></script>
<script src="./js/LoadInfo/LoadInfoClient.js"></script>
<script src="./js/buttons/Login/LoginBtnHandler.js"></script>
<script type="module" src="./js/buttons/Logout/Logout.js"></script>
<script src="./js/Music/UploadBeat/uploadbeat.js"></script>




</body>
</html>