<!doctype html>
<html lang="en">
{{>head}}
<body class="registration">
{{>loginMain}}

<body>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="./js/main.js"></script>

<script type="module" src="./js/buttons/Login/Login.js"></script>
</body>
</html>